{% extends 'questionnaire/header.html' %}

{% block content %}

<style>
    .container {
        height: fit-content;
    }
</style>

<!-- <div class="container mt-5 border rounded"> -->
    <div class="row my-custom-row align-items-center">
        <div class="col-md-12 fs-1 text-center">Тест завершен!</div>
        <div class="col-md-12 fs-3 text-center">Получено {{ object.reward }} очков!</div>
    </div>
    <div class="d-grid col-4 mx-auto">
        <button type="button" id="home" class="btn btn-success btn-lg mb-5" data-toggle="button" aria-pressed="false">Вернуться</button>
    </div>
    
<!-- </div> -->
    

<script>
    document.querySelector('#home').onclick = function(e) {
        window.location.href = "{% url 'home' %}"
    }


</script>


 
{% endblock %}
