<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LoginModalLabel">Вход</h5>
      </div>

      <form action="{% url 'login' %}" method="post" >
        <div class="modal-body d-flex flex-column">
          {% csrf_token %}
          {{ login_form }}
          <hr>
          <div class="d-grid gap-2 m-2 mb-4">
            <button type="submit" class="btn btn-primary">Вход</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
        
      </form>

      </div>
    </div>
  </div>
</div>